.property-label{
    text-transform: capitalize;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.active .page-link{
    min-width:44px;
    color: #ffffff;
    text-align: center;
    border-color: #1b2936 !important;
    background: #1b2936 !important;
    line-height: 24px;
    padding: 10px 5px;
    border-radius: 3px;
}

.disabled .page-link{
    min-width:44px;
    text-align: center;
    line-height: 24px;
    padding: 10px 5px;
    border-radius: 3px;
}

.image-box .image {
    max-height: 207px;
    min-height: 207px;
    overflow: hidden;
}
